#newhcard .card--{

    width: 521px;
    height: 582px;
   
    
    background: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#newhcard .card-- .first-div{
    height:83px;
    text-align: center;
    padding-top: 47px;
}
/* #newhcard .card-- .first-div h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 35px;


color: rgba(0, 0, 0, 0.82);
} */
#newhcard .card-- .first-div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.82);
}
#newhcard .card-- .second {
    padding-top: 30px;
}

#newhcard .img-box{
    height:208px;
    width: 351px;
}
/* #newhcard .card-- .third-div{
    padding-top: 31px;
    padding-left: 65px;
    text-align: justify;
    padding-right: 33px;
    height: 189px;
} */
#newhcard .card-- .third-div {
    padding-top: 40px;
    padding-left: 65px;
    text-align: justify;
    padding-right: 33px;
    height: 150px;
}
#newhcard  .fout-div{
    padding-top: 44px;
    padding-left: 65px;
    text-align: justify;
    padding-right: 65px;
}
/* #newhcard .card-- .third-div p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;


color: rgba(37, 35, 35, 0.82);
} */
#newhcard .card-- .third-div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(37, 35, 35, 0.82);
}
#newhcard .card-- .fourth-div{
    padding-right: 35px;
    display: flex;
    justify-content: right;
    /* margin-top: 83px; */
}
.more- {
    cursor: pointer;
    width: 109px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C68CC6;
    border-radius: 20px;
}
#newhcard .more- h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0px;
    color: #FFFFFF;
}