#em2 .em-bg3 {
    position: relative;
    background: url('../../../../public/images/employer3/new-bg--.svg') center/100% no-repeat;
    background-size: cover;
    height: 70vh;
    object-fit: cover;

}

.img-food {

    max-width: 363px;
    height: 326px;

}

#em2 .pri-header-right .text-cont h6 {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #A5A5A5;
}

#em2 .new- {
    display: flex;
    justify-content: center;
    align-items: center;
}

#em2 .child-img {
    position: absolute;
    bottom: 142.57px;
    left: 25px;
}

#em2 .child-img-2 {
    position: absolute;
    bottom: 48.57px;
    left: 51px;
}

#em2 .child-img-3 {
    position: absolute;
    bottom: 23.57px;
    left: 149px;
}

#em2 .lomba-text {
    text-align: center;
    margin-top: 132px;
}

#em2 .lomba-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;


    color: #000000;
}

#em2 .czx-wrapper {
    margin-left: 20px;
    margin-top: 89px;
    margin-right: 20px;
    width: 1005;
    height: 376px;
    background: radial-gradient(359.68% 1760.78% at -235.04% 117.47%, rgba(253, 150, 68, 0.504) 45.83%, rgba(128, 0, 128, 0.5152) 100%);
}

.redcard-wrap {
    position: relative;
    margin-top: 103px;
    display: flex;
    justify-content: center;
    gap: 81px;
}

.redcard-wrap .left {
    margin-left: 40px;

}

.redcard-wrap .red-bg {
    background: url('../../../../public/images/employer3/red-golden-gift-cards-ribbons-260nw-486985780\ 1.svg') center/100% no-repeat;
    background-size: cover;
    object-fit: cover;

    width: 518px;
    height: 303px;
    border-radius: 10px;
}

.red-bg .first-div {
    padding-left: 79px;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
}

.red-bg .first-div input {
    width: 243px;
    height: 38px;


    background: rgba(255, 255, 255, 0.96);
    border-radius: 10px;
}

.red-bg .first-div h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;


    color: #FFFFFF;

}

.prepaid {
    padding-right: 28px;
}

.second-di {
    width: 135px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    margin-left: 78px;
    background: rgba(255, 255, 255, 0.96);
    border-radius: 10px;
}

.second-di h3 {
    padding-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.79);
}

.redcard-wrap .right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    /* or 179% */


    color: rgba(0, 0, 0, 0.79);
}

.ora-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.vio-img {
    position: absolute;
    top: 100px;
    left: 0px;
}

.cont-ora {
    height: 300px;
}

@media (max-width:768px) {
    #em2 .em-bg3 {
        position: relative;
        background: url('../../../../public/images/employer3/new-bg--.svg') center/100% no-repeat;
        background-size: cover;

        object-fit: cover;
    }

    #em2 .pri-header-right .text-cont h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 0px;
    }

    #em2 .pri-header-right .text-cont h6 {
        font-family: 'PT Sans Caption';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        color: #A5A5A5;
    }

    #em2 .pri-header-right {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #em2 .child-img {
        position: absolute;
        bottom: 39.57px;
        left: 5px;
        height: 20px;
    }

    #em2 .child-img-2 {
        position: absolute;
        bottom: 7.57px;
        left: 21px;
        height: 30px;
    }

    #em2 .child-img-3 {
        position: absolute;
        bottom: 2.57px;
        left: 64px;
        height: 20px;
    }

    .food-img-mt {
        margin-top: 20px;
    }

    #em2 .czx-wrapper {
        margin-left: 10px;
        margin-top: 32px;
        margin-right: 10px;
        width: 1005;
        height: 160px;
    }

    .simple-text h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 18px;
        color: #000000;
    }

    .simple-text {
        padding-top: 17px;
        margin-bottom: 10px;
    }

    .wallet-wrap .fa-4x {
        color: orange;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .wallet-wrap h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #000000;
        margin-bottom: 2px;
    }

    .wallet-wrap {
        text-align: center;
        width: 84px;
        padding-left: 10px;
    }

    #em2 .lomba-text h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
    }

    #em2 .lomba-text {
        text-align: center;
        margin-top: 31px;
    }

    .redcard-wrap {
        position: relative;
        margin-top: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 37px;
    }

    .redcard-wrap .red-bg {
        background: url('../../../../public/images/employer3/red-golden-gift-cards-ribbons-260nw-486985780\ 1.svg') center/100% no-repeat;
        background-size: cover;
        object-fit: cover;

        width: 271px;
        height: 152px;
        border-radius: 10px;
    }

    .red-bg .first-div {
        padding-left: 27px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .red-bg .first-div input {
        width: 140px;
        height: 22px;
        background: rgba(255, 255, 255, 0.96);
        border-radius: 8px;
    }

    .red-bg .first-div h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #FFFFFF;
    }

    .second-di {
        width: 89px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 41px;
        margin-left: 27px;
        background: rgba(255, 255, 255, 0.96);
        border-radius: 8px;
    }

    .second-di h3 {
        padding-top: 5px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.79);
    }

    .redcard-wrap .right p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.79);
    }

    .redcard-wrap .right {
        padding-left: 42px;
        padding-right: 20px;
    }

    #em2 .ora-img {
        position: absolute;
        right: 0;
        height: 80px;
        bottom: -62px;
    }

    #em2 .vio-img {
        position: absolute;
        top: 47px;
        height: 80px;
        left: 0px;
    }

    .cont-ora {
        height: 155px;
    }
}