.prev-wrap{
    display: flex;
    padding-left: 107px;
    margin-top: 185px;
    gap: 120px;
}

.prev-wrap .lft h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 78px;
/* identical to box height */


color: #000000;
}
.prev-wrap .lft .text-wrp{
    width: 516px;
}

.prev-wrap .lft h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: rgba(0, 0, 0, 0.76);
}
@media (max-width:768px) {
    .prev-wrap {
        display: flex;
        padding-left: 39px;
        margin-top: 39px;
        gap: 25px;
        padding-right: 20px;
    }
    .prev-wrap .lft h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #000000;
    }
    .prev-wrap .lft h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        text-align: justify;
        font-size: 8px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.76);
    }
    
    .prev-wrap .lft .text-wrp {
        width: auto;
        padding-right: 10px;
    }
    .prev-wrap {
        display: flex;
        padding-left: 28px;
        margin-top: 39px;
        gap: 17px;
        padding-right: 20px;
    }
}