.add-em {
    box-sizing: border-box;
    margin-bottom: 117px;
    width: 265px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 0, 128, 0.88);
    border-radius: 46px;
    cursor: pointer;
}

.add-em h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.95);
}

 .modal-body{
    display: flex;
    flex-direction: column;
}
 .modal-body input {

    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
   
}









/*  form td:last-child {
    /* display: flex;
    justify-content: space-evenly; */






.edit-btn {
    cursor: pointer;
    width: 90px;
    height: 25px;
    text-align: center;

    background: #FFFFFF;
    border: 2px solid rgba(128, 0, 128, 0.81);
    border-radius: 20px;
}

 .btn-wrap {
    padding: 3px;
    display: flex;
    gap: 3px;
    width: 159px;
    height: 35px;


    background: #FFFFFF;
    border: 2px solid rgba(253, 150, 68, 0.94);
    border-radius: 20px;
}
.submit-cmp {
    box-sizing: border-box;
    position: absolute;
    width: 318px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 0, 128, 0.88);
    border-radius: 50px;
}
 .submit-cmp-wrap{
    margin-top: 141px;
    display: flex;
    justify-content: center;
    margin-bottom: 91px;

}
.submit-cmp h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 0px;
    color: #FFFFFF;
}
@media (max-width:768px) {
    .add-em {
        box-sizing: border-box;
        margin-bottom: 29px;
        width: 119px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(128, 0, 128, 0.88);
        border-radius: 10px;
        cursor: pointer;
    }
    .add-em h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.95);
    }
    #table1 .table-header div {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 10px;
        /* background: rgba(128, 0, 128, 0.81); */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 10px;
        color: #FFFFFF;
    }
    .submit-cmp {
        box-sizing: border-box;
        position: absolute;
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(128, 0, 128, 0.88);
        border-radius: 10px;
    }
    .submit-cmp h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 12px;
        color: #FFFFFF;
    }
    .submit-cmp-wrap {
        margin-top: 42px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}